@media (max-width: 1200px) {
  .container {
    max-width: 860px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 680px;
  }
  .story {
    &__wrapper {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .capability {
    &__btn {
      padding-top: 2px;
      font-size: 12px;
    }
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__item {
      margin-top: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__links {
      padding-left: 28px;
    }
  }
  .capability {
    &__header {
      flex-wrap: wrap;
    }
    &__services {
      margin-top: 15px;
    }
    &__btn {
      padding-top: 10px;
    }
  }
  .feedback {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__form {
      margin-top: 15px;
    }
  }
  .contact {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__address {
      margin-top: 20px;
    }
    &__icons {
      margin-top: 20px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .promo {
    &__title {
      font-size: 48px;
      margin-top: 130px;
    }
  }
  .header {
    &__menu {
      margin-top: 25px;
    }
    &__links {
      padding-left: 12px;
    }
  }
  .story {
    &__images {
      flex-wrap: wrap;
      &_item {
        margin-top: 15px;
      }
    }
  }
  .capability {
    &__services {
      flex-wrap: wrap;
    }
    &__btn {
      margin-top: 15px;
    }
  }
  .feedback {
    &__form {
      display: flex;
      flex-wrap: wrap;
      button {
        margin-top: 15px;
      }
    }
  }
  .contact {
    &__menu {
      margin-top: 20px;
    }
    &__icons {
      display: none;
    }
  }
}
